/* Soft reset do CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  /*background-image: url('../img/background.png');*/
  background-color: #181818;
  background-size: auto 100vh;
  font-family: 'Source Sans Pro', sans-serif;
  height: 100vh;
  font-size: 12px;
}

/* se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}

/* breakpoint */
@media (min-width: 600px) {
  body {
    background-attachment: fixed;
    background-size: cover;
    font-size: 18px;  
  }
}

/* breakpoint */
@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: #181818;
  position: fixed;
  width: 100vw;
  top: 0px;
  z-index: 1;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  padding: 10px 20px;
  transition: background-color 2s, color, 0.3s;
}

.menu i{
  padding-left: 8px;
}

.menu a:active,
.menu a:hover {
  background-color: whitesmoke;
  color: #181818;
}

a {
  color: whitesmoke;
  font-family: 'Share Tech Mono', monospace;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
/*Comentar essa parte para tirar o efeito*/
.home-title {
  transform: scale(0.2) translateY(50vh);
  opacity: 0;
  animation: 1s ease 500ms animacaoTitulo forwards;
}

@keyframes animacaoTitulo {
  from {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
  }
  to {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}
/*Comentar essa parte para tirar o efeito*/

.h1-title,
.h2-subtitle {
  color: whitesmoke;
  text-align: center;
}

.h1-title {
  font-size: 4em;
  font-family: 'Share Tech Mono', monospace;
}

.h2-subtitle {
  font-style: italic;
  font-family: 'Share Tech Mono', monospace;
  line-height: 1.8em;
  border-right:  2px solid rgba(255, 255, 255, .75);
  animation: 500ms infinite normal blinkcursor;
}

@keyframes blinkcursor {
  from{
    border-right-color: rgba(255, 255, 255, .75);
  }
  to{  
    border-right-color: transparent;
  }
}

.about,
.work {
  padding: 2em;
  min-height: 100vh;
}

@media (min-width: 1200px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    /*max-width: 1200px;*/
  }
}

.work {
  min-height: 100vh;
  background-color: #333;
}

.about h2,
.contact h2,
.work h2 {
  color: whitesmoke;
  margin-bottom: 1.5em;
  font-size: 2em;
  font-family: 'Share Tech Mono', monospace;
  margin-left: 50px;
  margin-top: 50px;
}

.about p {
  color: white;
  text-indent: 1.4em;
  margin-bottom: 1.4em;
  text-align: justify;
}

.about .avatar {
  float:left;
  margin-right: 2em;
}

/*fazer variaçoes de tamanhos de imagem*/
.about .avatar img{
  border-radius: 50%; 
  height: 180px;
  height: 180px;
}

.about a {
  color: yellow;
  padding: 0;
}

.about a:hover {
  text-decoration: none;
}

.work .grid {
  display: grid;
  gap: 2em;
  background-color: #333;
}

@media (min-width: 560px) {
  .work .grid {
    grid-template-columns: 240px 240px;
    align-content: center;
    justify-content: center;
  }
}

@media (min-width: 880px) {
  .work .grid {
    grid-template-columns: repeat(3, 260px);
    align-content: center;
    justify-content: center;
    height: calc(100vh - 8em - 48px);  
  }
}

/* Virar o card*/
.flip-card {
  height: 180px;
  perspective: 1000px;
}

.flip-card:hover .card {
  transform: rotateY(180deg);
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 3s;
}

.card-front, 
.card-back {
  backface-visibility: hidden;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, .7);
  height: 180px;
  width: 100%;
  transform: rotateY(180deg);
}
/* Virar o card*/

.work figure {
  text-align: center;
 }

.img-portfolio {
  height: 180px;
  width: 100%;
  object-fit: cover;
  object-position: left bottom;
  transition: transform 500ms;
}

/* Efeito card
.img-work:hover {
  transform: scale(1.2);
}
Efeito card*/

.contact .icons{
  text-align: center;
}

.contact a {
  color: #24292e;
  font-size: 4em;
  transition: text-shadow 0.3s;
}

.contact a:active,
.contact a:hover{
  color: #24292e;
  text-decoration: none;
  /*text-shadow: 0px 0px 10px rgba(2555, 255, 255, .5);*/
}

.contact .fa-github-alt:hover{
  color: 	#fafbfc;
}
.contact .fa-linkedin-in:hover{
  color: #0072b1;
}
.contact .fa-envelope:hover{
  color: #ff2e00;
}
.contact .fa-facebook-f:hover{
  color: #334a7d;
}
.contact .fa-instagram:hover{
  color: #d62976;
}
.contact .fa-twitter:hover{
  color: #00acee;
}
.contact .fa-whatsapp:hover{
  color: #2cc546;
}
.contact .fa-telegram-plane:hover{
  color: #85b2ff;
}
.contact .fa-playstation:hover{
  color: #0070cc;
}

.contact {
  padding: 2em;
}